@import url('sp://import/css/api.css');

h1 {
	text-align: center;
	font-size: 24px;
	padding: 20px;
}

h2 {
	padding: 20px;
	font-size: 18px;
}

#history {
	height: 200px;
	border: 1px solid #000;
	margin: 20px;
	overflow: auto;
}

#status {
	padding: 20px;
}

#status.good {
	color: green;
}

#status.bad {
	color: red;
}

#login {
	text-align: center;
	width: 300px;
	padding: 10px;
	position: relative;
	margin: auto auto;
}

#login div {
	margin-bottom: 10px;
}

#login label {
	display: block;
	width: 25%;
	float: left;
	text-align: right;
}

#login .submit {
	
}

#password.wrong {
	border: 1px solid #F00;
}

#logout {
	width: 300px;
	margin: auto auto;
	text-align: center;
}

#logout .submit {
	margin-top: 10px;
}
